/* About */

.about {
  width: 1167.97px;
  height: 612.21px;
  margin: 140px auto 0;
  display: flex;
}
.aboutPhoto {
  width: 631.24px;
  height: 612.21px;
}
.aboutContent {
  flex: 1;
}
.aboutText {
  width: 436.73px;
  height: 517px;
  margin: 46.5px 0 auto auto;
}
.aboutTitle {
  all: unset;
  font-family: 'Montserrat';
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #244D4D;
}
.aboutDescription {
    margin-top: 20px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #444444;
    text-align: justify;
}
.aboutInfo {
    width: 376.21px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.infoPoint {
    height: 92px;
    display: flex;
}
.infoPointIcon {
    width: 50px;
height: 50px;
margin: 0 28px auto 0;
}
.infoPointTitle {
    all: unset;
    font-family: 'Montserrat';
font-weight: 700;
font-size: 20px;
line-height: 26px;
color: #244D4D;
}
.infoPointText {
    margin-top: 14px;
font-family: 'DM Sans';
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #383738;
}