.body {
  background: #fcfbff;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}
.body::-webkit-scrollbar {
  display: none;
}
.centeredBlock {
  width: 1200px;
  margin: 0 auto;
}

/* Header */

.header {
  height: 29px;
  display: flex;
  margin-top: 44px;
  align-items: center;
}
.title {
  all: unset;
  margin-right: 217px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #244d4d;
}
.navList {
  list-style-type: none;
  width: 472.77px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 50px;
}
.navList > li {
  display: inline;
  padding-right: 25px;
}
.navList > li:hover {
  cursor: pointer;
}
.navList a {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #161616;
  text-decoration: none;
}
.rightNav {
  width: 78px;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.rightNavIcon {
  width: 24px;
height: 24px;
}
.rightNavIcon:hover {
  cursor: pointer;
}

/* Home */

.home {
  margin-top: 26.85px;
  height: 560px;
  display: flex;
}
.homePhoto {
  height: 560px;
}
.homeContent {
  flex: 1;
  background: #154444;
}
.homeText {
  margin: 101px auto 0px 100px;
  width: 671px;
  height: 231px;
}
.homeTitle {
  all: unset;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
}
.homeDescription {
  margin-top: 20px;
  width: 488px;
  height: 75px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.homeButton {
  box-sizing: border-box;
  width: 172px;
  height: 56px;
  margin: 35px auto auto 100px;
  padding: 15.5px 25.21px 15.5px 25.79px;
  background: #ffffff;
  font-family: "DM Sans";
  font-size: 20px;
  line-height: 25px;
  color: #154444;
  border: none;
}
.homeButton:hover {
  cursor: pointer;
}

/* Trusted */

.trusted {
  margin: 110px auto 0;
  width: 1082px;
}
.trustedText {
  width: 486.85px;
  margin: 0 auto 0;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #244d4d;
}
.trustedCompanies {
  height: 51.97px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mastercard {
  width: 66.98px;
height: 51.97px;
}
.airbnb {
  width: 125px;
height: 39px;
}
.uber {
  width: 97.3px;
height: 34px;
}
.paypal {
  width: 106.47px;
height: 37.39px;
}
.visa {
  width: 89.6px;
height: 32px;
}
.stripe {
  width: 96.66px;
height: 40.4px;
}